@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --small: 0.8rem;
  --medium: 1.3rem;
  --button-app: 1.2rem;
  --input-wise: 1rem;
  --big: 2.5rem;
  --somewhere-in-between: 1.7rem;
  --roz: #f76c6c;
  --space: "Space Grotesk", sans-serif;
  --manrope: "Manrope", sans-serif;
  --blue: #374785;
  --gri: #303030;
  --g-d: #f4f4f4;
  --g-bg: #fafafa;
}

.main {
  display: flex;
  margin: 5rem 10rem;
  gap: 5rem;
  h1 {
    font-family: var(--manrope);
    font-weight: 900;
    margin-bottom: 2rem;
  }
  p {
    font-family: var(--space);
    font-weight: 200;
    line-height: 1.7;
    font-size: var(--button-app);
  }
  .stuff {
    padding: 4rem;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
    .tech {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
    }
  }
}

.secondary {
  display: flex;
  flex-direction: row-reverse;
  margin: 5rem 10rem;
  gap: 10rem;
  h1 {
    font-family: var(--manrope);
    font-weight: 900;
    margin-bottom: 2rem;
  }
  p {
    font-family: var(--space);
    font-weight: 200;
    line-height: 1.7;
    font-size: var(--button-app);
  }
  .stuff {
    padding: 4rem;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
    .tech {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
    }
    .text {
      text-align: center;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  a {
    color: black;
    font-family: var(--manrope);
    font-weight: 800;
    border: 2px solid black;
    padding: 8px 30px;
  }
}

@media only screen and (max-width: 1080px) {
  .main {
    margin: 5rem;
    .stuff {
      height: fit-content;
    }
  }
  .secondary {
    margin: 5rem;
  }
  .buttons {
    gap: 10px;
    width: max-content;
  }
  .tech {
    gap: 10px;
  }
}

@media only screen and (min-width: 1081px) and (max-width: 1440px) {
  .tech {
    gap: 10px;
  }
  .buttons {
    gap: 10px;
    width: max-content;
  }
}
