@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --small: 0.8rem;
  --medium: 1.3rem;
  --button-app: 1.2rem;
  --input-wise: 1rem;
  --big: 2.5rem;
  --somewhere-in-between: 1.7rem;
  --roz: #f76c6c;
  --space: "Space Grotesk", sans-serif;
  --manrope: "Manrope", sans-serif;
  --blue: #374785;
  --gri: #303030;
  --g-d: #f4f4f4;
  --g-bg: #fafafa;
  --green: #1bc537;
  --red: #d7263d;
}

button{
  cursor: pointer;
}

.container {
  display: flex;
  margin-bottom: 12rem;
}

.login {
  width: 60%;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: var(--manrope);
    font-weight: 800;
    margin-bottom: 1rem;
  }
  p {
    font-family: var(--space);
    font-weight: 200;
  }
  input {
    font-family: var(--space);
    font-weight: 400;
    font-size: var(--input-wise);
    border: none;
    border-radius: 10px;
    padding: 12px 12px 12px 40px;
    margin: 0.5rem auto;
    background-color: var(--g-d);
    color: #000;
    width: 400px;
    outline: none;
  }
  .can {
    position: relative;
    img {
      position: absolute;
      left: 15px;
      bottom: 22px;
    }
  }
  button {
    margin-top: 2rem;
    font-family: var(--space);
    font-weight: 600;
    color: #fff;
    background-color: var(--blue);
    padding: 8px 50px;
    font-size: var(--button-app);
    border: none;
    border-radius: 10px;
  }
  .login_alt {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    gap: 20px;
  }
  .delimitator {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    hr {
      width: 160px;
      background-color: var(--g-d);
    }
    p {
      margin: 0rem 1.5rem;
    }
  }
}

.redirect {
  width: 30%;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--g-bg);
  padding-top: 3rem;
  padding-bottom: 5rem;
  h1 {
    font-family: var(--manrope);
    font-weight: 900;
  }
  p {
    font-family: var(--space);
    font-weight: 200;
    font-size: var(--button-app);
    width: 50%;
    line-height: 1.5;
    margin-top: 1rem;
    text-align: center;
  }
  button {
    margin-top: 5rem;
    font-family: var(--space);
    font-weight: 600;
    color: #fff;
    background-color: var(--blue);
    padding: 8px 50px;
    font-size: var(--button-app);
    border: none;
    border-radius: 10px;
  }
}

.notify {
  padding: 10px;
  border-radius: 10px;
  width: 35%;
  margin: 0.5rem 0rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--manrope);
  font-weight: 900;
  color: #fff;
  animation: myAnim 0.5s ease 0s 1 normal both;
}

.error {
  background-color: var(--red);
}

.success {
  background-color: var(--green);
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
